<!Doctype html>
<html>
<head>
    <title>genesis-ui</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-router@6.3.0/umd/react-router.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-router-dom@6.3.0/umd/react-router-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/axios@0.26.1/dist/axios.js"></script>
    <script src="/genesis-ui.js"></script>
    <script>
        window.addEventListener('load', function () {
            /** @type {Genesis} genesisApp **/
            const genesisApp = new Genesis.App();

            genesisApp.register([Genesis.ExampleServiceProvider]);

            genesisApp.init();

            genesisApp.handle('genesisApp');
        });
    </script>
</head>
<body>
<div id="genesisApp">
</div>
</body>
</html>